<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>choix de site!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/choices.css">
</head>
<body>
    <div class="container">
            <p class="text-center">Choisissez un site</p>
            <div style="display: flex; flex-wrap: wrap; margin-left: 230px; ">
              <%let i=1;kipina.forEach((kipina)=>{%>
                <div class="<%if(i%2){%>col1<%}else{%>col2<%}%>" style="flex: 50%; position: relative;">
                  <div style="display: inline-block;position: absolute; top: 0;left:0;" class="borderr <%if(i%5 == 0){i=1;}%><%="border"+i%5 %>"></div>
                        <a class="shadow" href="/login"><%=kipina.nom%></a>
                </div>
              <%i++;});%>
            </div>        
    </div>
</body>
</html>