<form method="POST" action="/test" enctype="multipart/form-data">
    <label for="id">test1</label>
    <input id="id" type="file" name="img1" multiple style="display:none;">
    <label for="id1">test2</label>
    <input type="file" name="img2" multiple style="display:none;" id="id1">
    <button>qsdqdfqds</button>
</form>